# editorconfig.org
# source: https://gist.github.com/sveneberth/b30d6639067177a31b5ab68af63a23e9
root = true

[*]
indent_style = space
tab_width = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

[*.{css, less, yml, yaml, json}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
